@import "@mantine/core/styles.layer.css";
@import "@mantine/carousel/styles.layer.css";
@import "@mantine/charts/styles.layer.css";
@import "@mantine/code-highlight/styles.layer.css";
@import "@mantine/dates/styles.layer.css";
@import "@mantine/dropzone/styles.layer.css";
@import "@mantine/notifications/styles.layer.css";
@import "@mantine/nprogress/styles.layer.css";
@import "@mantine/spotlight/styles.layer.css";
@import "@mantine/tiptap/styles.layer.css";
@import "@naplaca/mantine-theme/theme.css";
@import "@naplaca/mantine-components/theme";

:root {
  --mantine-color-light: #e8f0f7;
  --mantine-color-dark: #0a0f14;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-optical-sizing: auto;
}

#app {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: light-dark(var(--mantine-color-light), var(--mantine-color-dark));
}
