.naplaca-dropzone-root {
  &[data-disabled] {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    border-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
    cursor: not-allowed;

    & * {
      color: light-dark(var(--mantine-color-gray-5), var(--mantine-color-dark-3));
    }
  }
}

.naplaca-card-root {
  background-color: var(--mantine-color-body);
}

.naplaca-tabs-root {
  &[data-variant="default"] {
    --tabs-list-border-width: 1px;
  }
}

.naplaca-tabs-list {
  &[data-no-border] {
    &::before {
      display: none;
    }
  }
}
